<ion-view view-title="Cuenta de usuario" cache-view="false">
  <ion-content class="padding">
    <!-- HTML de la cuenta de usuario -->
    <button ng-if="isLogged()" class="button button-large button-assertive" ng-click="Logout()">Desconectar</button>
    <!-- HTML del Login -->
    <div ng-if="!isLogged()" class="list list-inset">
      <label class="item item-input">
        <input type="number" placeholder="N&uacute;mero de socio" ng-model="data.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>
    <button ng-if="!isLogged()" class="button button-block button-calm" ng-click="Login()">Login</button>
  </ion-content>
</ion-view>
