<ion-view view-title="Eventos">
  <ion-content class="has-header has-tabs-top">
    <ion-refresher
      pulling-text="Desliza para refrescar..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-header-bar class="bar bar-header bar-assertive">
      <h1 class="title">SEPTIEMBRE</h1>
    </ion-header-bar>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" href="#/tab/events/{{event.month}}">
        <div ng-repeat="eventDetail in event.info">
          <img ng-src="{{eventDetail.img}}">
          <h3>{{eventDetail.title}}</h3>
          <h4>{{eventDetail.date}}</h4>
          <h4>{{eventDetail.totalPlazasLibres}} plazas libres de {{eventDetail.totalPlazas}} plazas totales</h4>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- <ion-option-button class="button-assertive" ng-click="details(event)">
          Detalles
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
